<ion-view view-title="Group">
  <ion-content>
    <!--<h1>Group</h1>-->
    <div class="row responsive-md">
    	<div class="col col-50">
    		<center>
    			<img src="img/pladec.jpg" style="max-width:100%;" />
    		</center>
        </div>
        <div class="col col-50">
        	<center>
            	<img src="img/for-arte.png" style="max-width:100%;margin-top:10%" />
            </center>
        </div>
    </div>
    <div class="row responsive-md">
    	<div class="col col-50">
    		<center>
            	<img src="img/thepoloart.JPG" style="max-width:100%;" />
            </center>
        </div>
    </div>
  </ion-content>
</ion-view>
